@import "../bootstrapStyl/bootstrap"
@import "nib"



animacion(parametro)
	-moz-animation parametro
	-ms-animation parametro
	-o-animation parametro
	-webkit-animation parametro
	animation parametro

blue_Cool = #0faccd
green_Cool = #0ccd79

//modificando Bootstrap
.btn-default
	background-color #845ecd
	color white
	border none
	box-shadow 5px 5px 7px #c2c1be

.nav
	margin-top .3em

.nav > li > a:hover
.nav > li > a:focus
	background-color rgba(green_Cool,1)
	color white

.relative
	position relative
.menu
	margin 1em 0
	border none

.bar
	background gray
	height .5em
	margin 1em 0
	width 100%
	border-radius 10px
	.progreso-bar
		// animation 10s state infinite linear
		background #ef8814
		height .5em
		margin 1em 0
		width 0%
		border-radius 10px
		
		.circle
			height 1em
			width 1em
			border-radius 50%
			background black
			position absolute
			right -.2em
			top -.2em
			animation 1s circle infinite
.animar
	animation 10s state infinite

@keyframes state
	from
		background red
		width 0%
	to
		background blue_Cool
		width 100%

@keyframes circle
	0%
		transform scale(.7)
	100%
		transform scale(1.3)
		opacity 0
		
@media screen and (min-width: 400px)
	body
		padding-top 5em
		background #c2eaee
	.btn-default
		box-shadow 5px 5px 7px rgba(0, 0, 0, .5)
		&:hover
			background-color #6a4aa7
			color white
			box-shadow 5px 5px 7px rgba(0, 0, 0, .5)
